
#DayPilotCalendar1 .calendar_default_event_bar, #DayPilotCalendar1 .calendar_default_event_bar_inner {
    width: 10px;
}

#DayPilotCalendar1 .calendar_default_event_inner {
    padding-left: 12px;
}

.scheduler_default_matrix_vertical_break {
    background-color: #eee !important;
}


.calendar_default_cell_inner {

    /*border-bottom-color: black !important;*/
    border-right-color: black !important;
}

.navigator_default_busy {
    font-weight: bold;
}

.profile_photo
{
    width:30px;
    height:30px;
    -webkit-border-radius:;
    -moz-border-radius:;
    border-radius:15px;

}